/* =======================================
   NOT FOUND PAGE CONTAINER
======================================= */

.not-found-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  line-height: 1;
}

/* =======================================
   ERROR CODE (404)
======================================= */

.error-code {
  font-size: 200px;
  margin-bottom: 10px;

  background-image: linear-gradient(
    359.08deg,
    rgba(0, 188, 67, 0) -32.43%,
    #1ed760 99.35%
  );

  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

/* =======================================
   PAGE NOT FOUND TEXT
======================================= */

.pageNotFound {
  font-size: 20px;
  color: #ffffff;
  font-weight: 700;
}
.not-found-image {
  height: 45%;
}
.home-page-btn {
  padding: 10px;
  width: 150px;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  background: linear-gradient(
    359.08deg,
    rgba(0, 188, 67, 0) -32.43%,
    #1ed760 99.35%
  );
  border: 0px;
  border-radius: 8px;
  cursor: pointer;
}
